@font-face {
    font-family: 'AvenirRegular';
    src: url('../assets/fonts/AvenirRegular.otf') format('opentype');
    font-weight: normal; /* Cambiar a 'bold' si es una fuente en negrita */
    font-style: normal; /* Cambiar a 'italic' si es cursiva */
}

@font-face {
    font-family: 'AvenirBold';
    src: url('../assets/fonts/AvenirBold.otf') format('opentype');
    font-weight: normal; /* Cambiar a 'bold' si es una fuente en negrita */
    font-style: normal; /* Cambiar a 'italic' si es cursiva */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../assets/images/backgroundLM.png');
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    font-family: 'AvenirRegular', sans-serif;
}

header {
    width: 100%;
    background-color: #e66767;
    color: white;
    text-align: center;
    font-family: 'AvenirBold', sans-serif;
}

main {
    flex: 1; /* Esto hace que el main ocupe el espacio disponible */
    text-align: center;
}

footer {
    background-color: #e2e399;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: 'AvenirRegular', sans-serif;
}

.intro_block_container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "image text";
    gap: 5px;
    background-color: #2196F3;
    width: 80%;
    padding: 5px;
}

.intro_block_container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.main_picture {
    grid-area: image;
    width: 40%;
    border: 4px solid #ffa2f5;
}

.about_me_text {
    grid-area: text;
    font-size: 80;
}